.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(226, 236, 236);
  width: 10%;
  height: 92vh;
  align-content: center;
  align-items: center;
}
.side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  border: 1px solid grey;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.side-nav:hover {
  background-color: rgb(199, 199, 230);
}
