.product-container{
    display: flex;
    flex-direction: column;
    width: 70%;
  
}
.product-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.product-sub-container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  
}
.product-sub-btn{
    display: flex;
    justify-content: center;
}
