.btn{
    align-items: center;
    justify-content: center;
    margin: 2px;
    background-color: rgb(223, 66, 66);
    text-decoration: none;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;

}