.uploadImage input {
  display: none;
  
}
.uploadImage label {
  display: block;
  width: 250px;
  height: 32px;
  padding: 0.1rem 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 10px;

  cursor: pointer;

 
}

.uploadImg {
  width: 25px;
  height: 25px;
}
