.user-container{
    display: flex;
    flex-direction: column;
    width: 70%;
  
}
.user-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.user-active-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.user-sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.user-container{
    display: flex;
    
}

